.reset-password-form {
  padding: 0 20px 25px 20px;
  width: 40%;
  margin: 0 30%;
  border: 2px solid grey;
  border-radius: 10px;
}

@media only screen and (min-width: 706px) {
  .options legend {
    margin: 0 29.6%;
  }
}

@media only screen and (max-width: 706px) {
  .reset-password-form {
    width: 100%;
    margin: 0;
  }
}

.hide-input {
  display: none;
}

p.message.success {
  color: #009b40;
  visibility: visible;
}